.error{
   color: red;
}
input.ng-touched.ng-invalid{
    border: 1px solid red;
}
.icon{
    position: absolute;
    bottom: 145px;
    right: 75px;
    text-decoration-line: none;
}
.icon1{
    position: absolute;
    left: 450px;
    bottom: 80px;
    text-decoration-line: none;
    padding-bottom: 2px;
}