<div class="container vh-100">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow w-50" >
            <div class="card-body px-5">
                <div class="text-center">
                    <!-- <fa-icon [icon]="faLock" class="fa-3x"></fa-icon> -->
                </div>
                <div class="text-center">
                    <h2>Welcome</h2>
                </div>
                <p style="color: lightslategray; text-align: center;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your email 
                    Adress to reset your password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>


                    <form  [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                        <input type="email"
                        id="email"
                        placeholder="Enter your email address"
                        formControlName="email"
                        class="form-control"
                        name="email"
                        />
                    <small class ="error"*ngIf="forgotpasswordForm.controls['email'].touched && !forgotpasswordForm.controls['email'].valid">Please enter your email address</small>
                    </div>
                  

&nbsp;
                    <div class="form-group"> 
                        <input 
                        [type]="showPassword ? 'text' : 'password'"
                        id="password"
                        formControlName="password"
                        name="password"
                        placeholder="Please enter your password"
                        class="form-control"
                        >
                        <a 
                        href="javascript:;"
                        class="icon"
                       
                        (click)="showPassword =!showPassword"
                        
                        >{{showPassword ? "Hide" : "Show"}}</a>
                        <small class ="error"*ngIf="forgotpasswordForm.controls['password'].touched && !forgotpasswordForm.controls['password'].valid">Please enter your password</small>
                    </div>
                    &nbsp;
                    <div class="form-group"> 
                        <input 
                        [type]="seePassword ? 'text' : 'password'"
                        id="confirmPassowrd"
                        formControlName="confirmPassowrd"
                        name="confirmPassowrd"
                        placeholder="Please confirm your password"
                        class="form-control"
                        
                        >
                        <a 
                        href="javascript:;"
                        class="icon1"
                       
                        (click)="seePassword =!seePassword"
                        
                        >{{seePassword ? "Hide" : "Show"}}</a>
                        <small class ="error"*ngIf="forgotpasswordForm.controls['confirmPassowrd'].touched && !forgotpasswordForm.controls['confirmPassowrd'].valid">Please confirm your password</small>
                    </div>
                    &nbsp;
                    <input 
                    type="submit"
                    class="btn btn-primary w-100" 
                    value="Login" 
    
                    [disabled]="!forgotpasswordForm.valid"
                    >
                    </form>       
                </div>
    </div>
</div>